<style>
	html { color: #212121; font-family: sans-serif;}
	.banner { background-color: #212121; color: #FFFFFF; padding: 2px 0px 2px 10px; margin-bottom: 20px; }
</style>
<div class="banner">
	<h3>This is a sample test email</h3>
</div>

<em><span>For you, who choose <strong><em><%= @role.capitalize %></em></strong> as a row</span></em>
<h3>What a surprise, <%= @name %></h3>



